[
    {
        http_server,
        [
            {port,80}
        ]
    },
    {
        lager,
        [
            {log_root, "/var/log/package/http_server"},
            {colored, true},
            {handlers, [
                {lager_console_backend, [{level, debug}, {formatter, stout},
                    {formatter_config, [
                        {time, yellow}, " ",
                        {severity, [upper, {format, "~.5s"}, color, {format, "~s"}]},
                        " ",
                        message, "\n"
                    ]}]},
                {lager_file_backend, [{file, "error.log"}, {level, error}]},
                {lager_file_backend, [{file, "console.log"}, {level, info} , {formatter, stout},
                    {formatter_config, [
                        {time, yellow}, " ",
                        {severity, [upper, {format, "~.5s"}, color, {format, "~s"}]},
                        " ",
                        message, "\n"
                    ]}]}
            ]}
        ]
    }
].
